<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/navbar::navRequirement"></div>
    <link rel="stylesheet" th:href="@{~/css/formButton.css}"/>
    <link rel="stylesheet" th:href="@{~/css/author/authorForm.css}"/>
    <title>Book Rental System</title>
</head>
<body>
<div th:replace="fragments/navbar::navbar"></div>
<div class="wrapper">
    <div class="title-container">
        <label class="title">Author Setup</label>
    </div>
    <div class="btn-container">
        <a th:href="@{~/author}">Back</a>
    </div>

    <div class="form-container" th:object="${authorDto}">

        <div class="error-message-container database-error" th:if="${errorMessage}">
            <div class="error-message" th:text="${errorMessage}"></div>
            <a class="cross" href="#"><i class="fa-solid fa-xmark"></i></a>
        </div>

        <div class="error-message-container dto-validation-error" th:if="${#fields.hasAnyErrors()}" th:each="err : ${#fields.allErrors()}">
            <div class="error-message" th:text="${err}"></div>
            <a class="cross" href="#"><i class="fa-solid fa-xmark"></i></a>
        </div>

        <form th:method="${authorDto.id}==null ? 'post' : 'put'" th:action="${authorDto.id}==null ? @{~/author} : @{~/author/}+${authorDto.id}" th:object="${authorDto}">
            <div class="name-email">
                <div>
                    <label for="authName">Name:</label>
                    <input
                            id="authName"
                            type="text"
                            placeholder="Author Name"
                            required
                            th:field="*{name}"
                            th:value="${authorDto.name}"
                    />
                </div>
                <div>
                    <label for="authEmail">Email:</label>
                    <input
                            id="authEmail"
                            class="authEmail"
                            type="email"
                            placeholder="Author Email"
                            required
                            th:field="*{email}"
                            th:value="${authorDto.email}"
                    />
                </div>
            </div>
            <div class="auth-number">
                <label for="authNumber">Mobile Number:</label>
                <input
                        id="authNumber"
                        class="authNumber"
                        type="text"
                        placeholder="Author Mobile Number"
                        required
                        th:field="*{mobileNumber}"
                        th:value="${authorDto.mobileNumber}"
                />
            </div>
            <div class="formBtn-container">
                <input type="submit" value="SAVE"/>
                <input type="reset" value="RESET"/>
            </div>
        </form>
    </div>
</div>

<script th:src="@{~/js/common.js}"></script>
</body>
</html>
