.img-container{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #072448;
    background-image: url(../image/library.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}