<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/navbar::navRequirement"></div>
    <link rel="stylesheet" th:href="@{~/css/formButton.css}"/>
    <link rel="stylesheet" th:href="@{~/css/category/categoryForm.css}"/>
    <title>Book Rental System</title>
</head>
<body>
<div th:replace="fragments/navbar::navbar"></div>
<div class="wrapper">
    <div class="title-container">
        <label class="title">Category Setup</label>
    </div>
    <div class="btn-container">
        <a th:href="@{~/category}">Back</a>
    </div>

    <div class="form-container" th:object="${categoryDto}">

        <div class="error-message-container database-error" th:if="${errorMessage}">
            <div class="error-message" th:text="${errorMessage}"></div>
            <a class="cross" href="#"><i class="fa-solid fa-xmark"></i></a>
        </div>

        <div class="error-message-container dto-validation-error" th:if="${#fields.hasAnyErrors()}" th:each="err : ${#fields.allErrors()}">
            <div class="error-message" th:text="${err}"></div>
            <a class="cross" href="#"><i class="fa-solid fa-xmark"></i></a>
        </div>

        <form th:method="${categoryDto.id}==null ? 'post' : 'put'" th:action="${categoryDto.id}==null ? @{~/category} : @{~/category/}+${categoryDto.id}" th:object="${categoryDto}">
                <div>
                    <label for="categoryName">Name:</label>
                    <input
                            id="categoryName"
                            type="text"
                            placeholder="Category Name"
                            required
                            th:field="*{name}"
                            th:value="${categoryDto.name}"
                    />
                </div>
                <div>
                <div class="cat-desc">
                    <label for="categoryDescription">Description:</label>
                    <textarea
                            id="categoryDescription"
                            class="authEmail"
                            placeholder="Category Description"
                            maxlength="250"
                            required
                            th:field="*{description}"
                            th:value="${categoryDto.description}"
                    ></textarea>
                </div>
                </div>
            <div class="formBtn-container">
                <input type="submit" value="SAVE"/>
                <input type="reset" value="RESET"/>
            </div>
        </form>
    </div>
</div>

<script th:src="@{~/js/common.js}"></script>
</body>
</html>
