<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/navbar::navRequirement"></div>
    <link rel="stylesheet" th:href="@{~/css/tableButton.css}">
    <title>Book Rental System</title>
</head>
<body>
<div th:replace="fragments/navbar::navbar"></div>
<div class="wrapper">
    <div class="title-container">
        <label class="title">Return a book</label>
    </div>
    <div class="btn-container">
        <a th:href="@{~/return/create}">Create</a>
    </div>
    <div class="table-container">
        <div class="error-message-container" th:if="${errorMessage}">
            <div class="error-message" th:text="${errorMessage}"></div>
            <a class="cross" href="#"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <div class="message" th:if="${bookTransactionDtoList.isEmpty()}">No Books returned</div>
        <table th:unless="${bookTransactionDtoList.isEmpty()}">
            <tr>
                <th>S.N</th>
                <th>Book Name</th>
                <th>Member Name</th>
                <th>Code</th>
                <th>Action</th>
            </tr>
            <tr th:each="bookTransactionDto, iterator: ${bookTransactionDtoList}">
                <td th:text="${iterator.count}"></td>
                <td th:text="${bookTransactionDto.bookDto.name}"></td>
                <td th:text="${bookTransactionDto.memberDto.name}"></td>
                <td th:text="${bookTransactionDto.code}"></td>
                <td>
                    <a class="edit" th:href="@{~/return/edit/}+${bookTransactionDto.id}"
                    ><i class="fa fa-pencil edit" aria-hidden="true"></i
                    ></a>
                    <form class="delete-form" style="display: inline;" th:method="delete" th:action="@{~/return/}+${bookTransactionDto.id}">
                        <a href="#" class="del" onclick="$(this).parent().submit();"><i class="fa fa-trash delete" aria-hidden="true"></i></a>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
<script th:src="@{~/js/common.js}"></script>
</body>
</html>
